<h4 class="{{prefix}}heading">{{heading}}</h4>
<div style="margin-bottom: 20px;">
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"", link:page.index, name:"На главную" } %}	
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"is--invers", link:page.index, name:"На главную" } %}	
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"is--white", link:page.index, name:"На главную" } %}	
</div>
<div style="margin-bottom: 20px;">
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"is--xl", link:page.index, name:"На главную" } %}	
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"is--lg", link:page.index, name:"На главную" } %}	
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"is--sm", link:page.index, name:"На главную" } %}	
	{% include "btn.twig" with {view:"link",prefix:"btn__", mod:"is--xs", link:page.index, name:"На главную" } %}	
</div>
<div style="margin-bottom: 20px;">
	{% include "btn.twig" with {view:"modal",prefix:"btn__", mod:"", target:"modal-form", name:"Модальное окно", m_heading: "Заказать звонок", m_heading_sm: "Мы перезвоним вам в ближайшее время", m_btn:"Отправить", } %}
</div>
<div style="margin-bottom: 20px;">		
	{% include "btn.twig" with {view:"link",prefix:"link__", mod:"is--xs", link:page.index, name:"На главную" } %}
</div>