{% if view == "test" %}
<h4 class="{{block_prefix}}heading">{{heading}}</h4>
<div>qwertyuiopasd fghjklzxcvbnm QWERTYUIOPAS DFGHJKLZXCVBNM</div>
<div>!@#$%^&*()</div>
<div>йцукёенгшщзхъ фывапролджэячсмитьбю ЙЦУКЕНГШЩЗХЪФЫВАП РОЛДЖЭЯЧСМИТЬБЮ</div>
<div>!"№;%:?*()</div>
<div>1234567890</div> 
{% endif %}
{% if view == "text" %}
<p>Управляющие компании должны Орловскому энергосбыту 154,9&nbsp;млн. рублей</p>
<p>Коммерческая деятельность в&nbsp;торговле основана на&nbsp;закупочной работе: предприниматели на&nbsp;собственные денежные средства закупают товар, который затем преобразуют в&nbsp;денежные средства с&nbsp;некоторым приращением (прибылью).</p>
<p>Коммерческая работа в&nbsp;торговле начинается с&nbsp;закупки товаров в&nbsp;целях последующей их&nbsp;продажи.</p>
<h4>Основная задача закупочной работы</h4>
<p>Выгодное приобретение товара в&nbsp;целях удовлетворения потребительского спроса. Закупочная работа является одной из&nbsp;наиболее ответственных функций торговых предприятий. Правильно организованные оптовые закупки позволяют уменьшить вероятность коммерческого риска, связанного с&nbsp;отсутствием сбыта товаров.</p>
<p>В&nbsp;коммерческой деятельности в&nbsp;ходе закупки организация определяет необходимость приобретения товаров и&nbsp;услуг, выявляет, оценивает и&nbsp;отбирает конкретные марки товаров и&nbsp;поставщиков.</p>
<h4>Процесс закупки включает в&nbsp;себя:</h4>
<ul> 
	<li>Приобретение потребительских товаров;</li>
	<li>Организацию перемещения приобретенных товаров;</li>
	<li>Организацию смены собственника и&nbsp;места размещения;</li>
	<li>Сбор, анализ и&nbsp;передачу информации различным подразделениям торгового предприятия (бухгалтерии, отделу сбыта, транспортному отделу).</li>
</ul>
<p>Закупочная работа дает возможность сформировать оптимальный ассортимент товаров торговых предприятий, воздействовать на&nbsp;производителей товаров. Именно закупки обеспечивают эффективную работу торгового предприятия.</p>
<blockquote>
	<p><b>Закупка товаров</b>&nbsp;— это приобретение (купля) товаров для дальнейшего целевого использования.</p>
</blockquote>
<h4>К&nbsp;предварительным операциям по&nbsp;закупке относятся:</h4>
<ol> 
	<li>Изучение и&nbsp;прогнозирование покупательского спроса;</li>
	<li>Определение потребности в&nbsp;товарах;</li>
	<li>Выявление и&nbsp;изучение источников закупки, выбор поставщиков;</li>
	<li>Составление заявок и&nbsp;заказов на&nbsp;поставку товаров;</li>
	<li>Разработка преддоговорных требований к&nbsp;поставщикам и&nbsp;условиям поставки.</li>
</ol>
{% endif %}